<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./randomizer.css" />
    <link
      href="//db.onlinewebfonts.com/c/3c6b0199ae7b57966132e83c939d77e2?family=Futura+PT+Medium"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro"
      rel="stylesheet"
    />
    <title>Loadout Randomizer</title>
  </head>
  <body>
    <div id="box">
      <div id="kinetic">
        <% if(randomized.kineticImg == ""){%>
        <img
          id="kineticImg"
          src="https://www.bungie.net/common/destiny2_content/icons/962055a3f8c73eff98f140f6fac79392.png"
          alt="kinetic"
          width="96"
          height="96"
        />
        <% } else { %>
        <img
          id="kineticImg"
          src="<%= randomized.kineticImg %>"
          alt="kinetic"
          width="96"
          height="96"
        />
        <% } if(randomized.kineticText == ""){%>
        <p id="kineticText">Kinetic</p>
        <% } else { %>
        <p id="kineticText">Kinetic - <%= randomized.kineticText %></p>
        <% } %>
      </div>
      <div id="energy">
        <% if(randomized.energyImg == ""){%>
        <img
          id="energyImg"
          src="https://www.bungie.net/common/destiny2_content/icons/962055a3f8c73eff98f140f6fac79392.png"
          alt="energy"
          width="96"
          height="96"
        />
        <% } else { %>
        <img
          id="energyImg"
          src="<%= randomized.energyImg %>"
          alt="energy"
          width="96"
          height="96"
        />
        <% } if(randomized.energyText == ""){%>
        <p id="energyText">Energy</p>
        <% } else { %>
        <p id="energyText">Energy - <%= randomized.energyText %></p>
        <% } %>
      </div>
      <div id="heavy">
        <% if(randomized.heavyImg == ""){%>
        <img
          id="heavyImg"
          src="https://www.bungie.net/common/destiny2_content/icons/962055a3f8c73eff98f140f6fac79392.png"
          alt="heavy"
          width="96"
          height="96"
        />
        <% } else { %>
        <img
          id="heavyImg"
          src="<%= randomized.heavyImg %>"
          alt="heavy"
          width="96"
          height="96"
        />
        <% } if(randomized.heavyText == ""){%>
        <p id="heavyText">Heavy</p>
        <% } else { %>
        <p id="heavyText">Heavy - <%= randomized.heavyText %></p>
        <% } %>
      </div>
      <div id="img">
        <img
          id="logo"
          src="https://logos-world.net/wp-content/uploads/2020/06/Destiny-Symbol-700x394.png"
          alt="Destiny"
          width="384"
          height="216"
        />
      </div>
      <div id="armor">
        <% if(randomized.armorImg == ""){%>
        <img
          id="armorImg"
          src="https://www.bungie.net/common/destiny2_content/icons/ee21b5bc72f9e48366c9addff163a187.png"
          alt="armor"
          width="96"
          height="96"
        />
        <% } else { %>
        <img
          id="armorImg"
          src="<%= randomized.armorImg %>"
          alt="armor"
          width="96"
          height="96"
        />
        <% } if(randomized.armorText == ""){%>
        <p id="armorText">Armor</p>
        <% } else { %>
        <p id="armorText">Armor - <%= randomized.armorText %></p>
        <% } %>
      </div>
      <div id="button">
        <form action="/randomizer" method="post">
          <button id="randomize">RANDOMIZE</button>
        </form>
      </div>
      <div id="class">
        <% if(randomized.classImg == ""){%>
        <img
          id="classImg"
          src="https://titles.trackercdn.com/destiny/common/destiny2_content/icons/DestinyActivityModeDefinition_ca750af7ed2f0ec3c8e2f019c85f7bab.png"
          alt="class"
          width="96"
          height="96"
        />
        <% } else { %>
        <img
          id="classImg"
          src="<%= randomized.classImg %>"
          alt="class"
          width="96"
          height="96"
        />
        <% } if(randomized.classText == ""){%>
        <p id="classText">Class</p>
        <% } else { %>
        <p id="classText">Class - <%= randomized.classText %></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
